body {
  text-align: center;
  background-image: url("../background1.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Yusei Magic', sans-serif;
}

h1{
  font-size: 2.5rem;
}

h3{
  font-size: 1.5rem;
  padding: 5% 5%;
}

p{
  font-size: 1rem;
}

.heading{
  background-color: rgba(255, 255, 255, .5);
  border-radius: 20px;
  max-width: 600px;
  display: flex;
  justify-content: center;
  margin: 7% auto;
}

.btn {
  color: #ffffff;
  background-color: #9a8bf1;
  font-size: 15px;
  border-radius: 50px;
  padding: 15px 50px;
  cursor: pointer;
  border: 0;
}

.btn:hover {
  color: #000000;
  background-color: #ffffff;
}



.answerPopup{
  background-color: #ffffff;
  width: 300px;
  height: 300px;
  font-size: 1.5rem;
  border-radius: 20px;
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
}

.answerPopup.active{
  transform: translate(-50%, -50%) scale(1);
}

.answer{
  margin: 5% 5%;
}

.closeButton{
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5%;
}

@media (max-width: 1000px) {
  p{
    font-size: 1.5rem;
  }
  .container{
    flex-direction: column;
  }
  .game{
    margin-top: 10%;
  }
  .answerPopup{
    width: 400px;
    height: 400px;
  }
}

.game {
  margin-right: 2%;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 20px;
  border: none;
  padding: 15px;
}

.game p{
  margin: 5% 0;
}

.gameDescription {
  width: 350px;
}

.img {
  max-width: 100px;
  margin-bottom: 10px;
}

.popupImg{
  margin-top: -25px;
}

#overlay{
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

#overlay.active{
  opacity: 1;
  pointer-events: all;
}
